@model IEnumerable<Sistema_Aduanero.Models.Declaracion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFacturaFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteIdFkNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFacturaFkNavigation.IdFactura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoDeclaracion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoDeclaracion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoDeclaracion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
